* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

body {
    background-color: #000;
    color: #ffffff;
}

.cards {

    width: 90%;
    max-width: 470px;
    margin: 50px auto 0;
    text-align: center;
    background: linear-gradient(140deg, #00feba, #5b548a);
    border-radius: 20px;
    padding: 40px 35px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    width: 80%;
    padding: 10px 25px;
    border: 0;
    outline: 0;
    font-size: 16px;
    flex: 1;
    margin-right: 16px;
    border-radius: 30px;
    color: #555;
    height: 50px;
}

.search button {
    border: 0;
    outline: 0;
    background: #effffc;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;

}

.search button img {
    width: 23px;
}

.search button:hover {
    background: #bbf0e7;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
    color: #ffffff;
}

.weather h2 {
    font-size: 25px;
    font-weight: 400;
    margin-top: -10px;
    color: #ffffff;
    display: block;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: center;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 23px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    display: none;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 14px;
}

.climate {
    margin-top: -9px;
    margin-bottom: 5px;
}

.country {
    font-size: 10px;
    margin-left: 7px;
    margin-top: 5px;
    text-align: center;

}
.whether-forecaste{
    background-color: #00feba;
    display: flex;
    
}

.location-date-container {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.location{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
}
.location h2{
    margin-top: 5px;
}
.location h6{
    margin-top: 15px;
}
.location img{
    width: 25px;
    margin-right: 5px;
}
.date{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
}
.date img{
    width: 20px;
    margin-right: 5px;
}
.date h5{
    margin-top: 5px;    
}
.whether-forecast-container{
    display: flex;
    gap: 15px;
    overflow: scroll;
    overflow-y: hidden;
    margin-top: 30px;
    padding-bottom: 10px;

}
.whether-forecast-container::-webkit-scrollbar{
    height: 8px;
}
.whether-forecast-container::-webkit-scrollbar-track{
    background: rgba(0, 0, 0 , 0.1);
    border-radius: 99px;
}
.whether-forecast-container::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0 , 0.15);
    border-radius: 99px;
}
.forecaste-items{
    min-width: 70px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.3s background-color;
}
.forecaste-items:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.forecaste-icon{
    width: 49px;
    margin-top: 10px;
}
.forecaste-items h3{
    font-size: 15px;

}


